# Path to MMDB formatted IP to City Lite and IP to ASN Lite databases
# https://db-ip.com/db/download/ip-to-city-lite
# https://db-ip.com/db/download/ip-to-asn-lite
DBIP_MMDB_PATH=DBIP_MMDB_PATH

# Capistrano deploy
DEPLOY_PRODUCTION_SERVER=DEPLOY_PRODUCTION_SERVER
DEPLOY_PRODUCTION_USER=DEPLOY_PRODUCTION_USER
DEPLOY_STAGING_SERVER=DEPLOY_STAGING_SERVER
DEPLOY_STAGING_USER=DEPLOY_STAGING_USER
