# MMDB provider
# Valid options: `dbip`
MMDB_PROVIDER=MMDB_PROVIDER

# Directory to store MMDB files
MMDB_DIR_PATH=MMDB_DIR_PATH

# Application configuration variables
CHECKIP_SHOW_VERSION=false

# Capistrano deploy
DEPLOY_PRODUCTION_SERVER=DEPLOY_PRODUCTION_SERVER
DEPLOY_PRODUCTION_PORT=DEPLOY_PRODUCTION_PORT
DEPLOY_PRODUCTION_USER=DEPLOY_PRODUCTION_USER
DEPLOY_STAGING_SERVER=DEPLOY_STAGING_SERVER
DEPLOY_STAGING_PORT=DEPLOY_STAGING_PORT
DEPLOY_STAGING_USER=DEPLOY_STAGING_USER

# Elastic APM
ELASTIC_APM_ENABLED=false
