@use './init/stylesheets/checkip-base';

@use '@material/layout-grid/mdc-layout-grid';
@use '@material/elevation/mdc-elevation';
@use '@material/button/styles';
@use '@material/button';

.ckp-description-header {
  margin: 0 0 8px;
  text-align: center;
}

.ckp-button-clipboard {
  @include button.density(-2);

  font-family: checkip-base.$mono-font;
  position: absolute;
  right: 16px;
}
