@use "sass:string";

// Core colors
$core-primary-color: #2e3440;
$core-secondary-color: #8fbcbb;
$core-surface: #3b4252;
$core-on-primary: #d8dee9;
$core-on-surface: #e5e9f0;

// Width
$max-width-xl: 800px;

// Top App Bar
$top-app-bar-ink-color: $core-on-primary;

// Icons
$heart-icon-color: #bf616a;

// Boxes
$snippet-background-color: darken($core-primary-color, 5%);
$text-box-background-color: darken($core-primary-color, 3%);

// Fonts
$body-font: string.unquote(
  'Roboto,-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif'
);
$mono-font: string.unquote('SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace');
